.inicio .noticias {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px 0px;
}
.inicio .noticias .noticia {
  display: flex;
  flex-direction: column;
  width: 20rem;
  box-shadow: 1px 1px 5px 0px;
  background-color: orange;
  border-radius: 10px;
}
.inicio .noticias .noticia img {
  border-radius: 10px;
  width: 100%;
  height: 14rem;
  background-color: white;
}
.inicio .filaDeProductos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.inicio .filaDeProductos .producto {
  background-color: white;
  width: 20rem;
  height: 22rem;
  box-shadow: 1px 1px 5px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio .filaDeProductos .producto img {
  width: 12rem;
  height: 12rem;
}
.inicio .filaDeProductos .producto p {
  font-weight: 590;
}
.inicio .filaDeProductos .producto .precioAnterior {
  text-decoration: line-through;
}
.inicio .filaDeProductos .producto button {
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 10rem;
  color: white;
  background-color: rgb(0, 172, 0);
  transition: background-color 0.2s;
}
.inicio .filaDeProductos .producto button:hover {
  background-color: white;
  color: rgb(0, 172, 0);
  border: 1px solid rgb(0, 172, 0);
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  border-bottom: 1px gray solid;
}
header .dropdown {
  display: none;
}
@media screen and (max-width: 620px) {
  header .dropdown {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
  }
}
header .dropdown a {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 700;
  border: white;
}
header .dropdown a:hover {
  background-color: white;
  color: red;
}
header .dropdown a:active {
  background-color: white;
  color: red;
}
header .logoYTitulo {
  display: flex;
  height: 100%;
  width: 20%;
}
header .logoYTitulo a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  padding-top: 3%;
}
header .logoYTitulo a:hover {
  color: red;
}
header .enlacesPrincipales {
  width: 80%;
}
@media screen and (max-width: 620px) {
  header .enlacesPrincipales {
    display: none;
  }
}
header .enlacesPrincipales .menuDeEnlaces {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
header .enlacesPrincipales .menuDeEnlaces a {
  align-self: center;
  padding-top: 1%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  height: 100%;
  border-left: 1px black solid;
}
header .enlacesPrincipales .menuDeEnlaces a:hover {
  color: red;
}
header .enlacesPrincipales .menuDeEnlaces a li {
  align-self: center;
}
header .enlacesPrincipales .menuDeEnlaces a li img {
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 40%;
  background-color: red;
}
footer .enlacesSecundarios {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .enlacesSecundarios ul {
  font-size: 20px;
}
footer .enlacesSecundarios ul h3 {
  font-weight: 600;
  color: white;
}
footer .enlacesSecundarios ul a:hover {
  color: black;
}
footer .enlacesSecundarios ul li {
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

.subTitulo {
  text-align: center;
  font-size: 25px;
}

main {
  background-color: rgb(213, 213, 213);
  width: 100%;
}
main h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
main h2 {
  font-weight: 700;
}

.pokemones {
  width: 100%;
}
.pokemones .buscadorFiltrosYProductos .buscador {
  padding-top: 2rem;
  text-align: center;
}
.pokemones .buscadorFiltrosYProductos .buscador input {
  border-radius: 10px;
  width: 20%;
  height: 2rem;
}
.pokemones .buscadorFiltrosYProductos .buscador button {
  border-radius: 7px;
  font-size: 20px;
  background-color: white;
  transition: background-color 0.2s;
}
.pokemones .buscadorFiltrosYProductos .buscador button:hover {
  background-color: red;
  color: white;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  margin-top: 2rem;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .filtros button {
  width: 25rem;
  border-radius: 7px;
  font-size: 20px;
  background-color: white;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .filtros #listaDeFiltrosPokemones {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius: 7px;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .productos table tr {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .productos table tr td {
  font-weight: 700;
  font-size: 22px;
  width: 100%;
  border: 1px black solid;
  background-color: white;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .productos table tr td img {
  width: 100%;
  height: 100%;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .productos table tr td button {
  margin-left: 10%;
  height: 35%;
  width: 100%;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 172, 0);
  transition: background-color 0.2s;
}
.pokemones .buscadorFiltrosYProductos .filtrosYProductos .productos table tr td button:hover {
  background-color: white;
  color: rgb(0, 172, 0);
  border: 1px solid rgb(0, 172, 0);
}

/*# sourceMappingURL=main.css.map */
