header {
  width: 100%;
  height: 3rem;
  display: flex;
  border-bottom: 1px gray solid;
  & .dropdown {
    display: none;
    @include mobile() {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 80%;
    }
    & a {
      background-color: white;
      color: black;
      font-size: 20px;
      font-weight: 700;
      border: white;
      &:hover {
        background-color: white;
        color: red;
      }
      &:active {
        background-color: white;
        color: red;
      }
    }
  }
  & .logoYTitulo {
    display: flex;
    height: 100%;
    width: 20%;
    & a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 800;
      padding-top: 3%;
      &:hover {
        color: red;
      }
    }
  }
  & .enlacesPrincipales {
    width: 80%;
    @include mobile() {
      display: none;
    }
    & .menuDeEnlaces {
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: end;
      & a {
        align-self: center;
        padding-top: 1%;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
        height: 100%;
        border-left: 1px black solid;
        &:hover {
          color: red;
        }
        & li {
          align-self: center;
          & img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  background-color: red;
  & .enlacesSecundarios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5% 0 5% 0;
    & ul {
      font-size: 20px;
      & h3 {
        font-weight: 600;
        color: white;
      }
      & a {
        &:hover {
          color: black;
        }
      }
      & li {
        color: white;
      }
    }
  }
  & a {
    text-decoration: none;
    color: white;
  }
}

.pokemones {
  width: 100%;
  & .buscadorFiltrosYProductos {
    & .buscador {
      padding-top: 2rem;
      text-align: center;
      & input {
        border-radius: 10px;
        width: 20%;
        height: 2rem;
      }
      & button {
        border-radius: 7px;
        font-size: 20px;
        background-color: white;
        transition: background-color 0.2s;
        &:hover {
          background-color: red;
          color: white;
        }
      }
    }
    & .filtrosYProductos {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: center;
      margin-top: 2rem;
      & .filtros {
        & button {
          width: 25rem;
          border-radius: 7px;
          font-size: 20px;
          background-color: white;
        }
        & #listaDeFiltrosPokemones {
          display: flex;
          justify-content: space-evenly;
          background-color: white;
          border-left: 1px black solid;
          border-right: 1px black solid;
          border-radius: 7px;
        }
      }
      & .productos {
        & table {
          & tr {
            display: grid;
            grid-template-columns: repeat(6, 2fr);
            & td {
              font-weight: 700;
              font-size: 22px;
              width: 100%;
              border: 1px black solid;
              background-color: white;
              padding-right: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              & img {
                width: 100%;
                height: 100%;
              }
              & button {
                margin-left: 10%;
                height: 35%;
                width: 100%;
                border-radius: 10px;
                color: white;
                background-color: rgb(0, 172, 0);
                transition: background-color 0.2s;
                &:hover {
                  background-color: white;
                  color: rgb(0, 172, 0);
                  border: 1px solid rgb(0, 172, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}
